<!-- <form
  method="<#%= user._id ?'PUT' : 'POST'%>"
  id="<#%= id %>"
  action="<#%= user._id ?'api/users/'+ user._id : 'api/users'%>"
> -->
<form
  method="POST"
  id="<%= id %>"
  action="<%= user._id ? '' : 'api/users'%>"
>
  <div class="new_user">
    <div class="form-group">
      <label for="name" class="text-light">Name</label>
      <input type="hidden" name="id" value="<%= id==='add_user' ? '' : user._id %>" />
      <input
        type="text"
        name="name"
        value="<%= id==='add_user' ? '' : user.name %>"
        placeholder="MarK Bar"
      />
    </div>
    <div class="form-group">
      <label for="email" class="text-light">Email</label>
      <input
        type="email"
        name="email"
        value="<%= id==='add_user' ? '' : user.email %>"
        placeholder="example@gmail.com"
      />
    </div>
    <div class="form-group">
      <label for="gender" class="text-light">Gender</label>
      <div class="radio inline">
        <input type="radio" id="radio-2" name="gender" value="Male" <%=
        id==='add_user' ? '' : user.gender === 'Male' ? 'checked' : ''%>/>
        <label for="radio-2" class="radio-label">Male</label>
      </div>
      <div class="radio inline">
        <input type="radio" id="radio-3" name="gender" value="Female" <%=
        id==='add_user' ? '' : user.gender === 'Female' ? 'checked' : ''%> />
        <label for="radio-3" class="radio-label">Female</label>
      </div>
    </div>
    <div class="form-group">
      <label for="status" class="text-light">Status</label>
      <div class="radio inline">
        <input type="radio" id="radio-4" name="status" value="Active" <%=
        id==='add_user' ? '' : user.status === 'Active' ? 'checked' : ''%>/>
        <label for="radio-4" class="radio-label">Active</label>
      </div>
      <div class="radio inline">
        <input type="radio" id="radio-5" name="status" value="Inactive" <%=
        id==='add_user' ? '' : user.status === 'Inactive' ? 'checked' : ''%>/>
        <label for="radio-5" class="radio-label">Inactive</label>
      </div>
    </div>
    <div class="form-group">
      <!-- <button
        type="<#%= id==='add_user' ? 'submit' : 'button'%>"
        class="btn text-dark"
      >
        <#%= id==='add_user' ? 'SAVE' : 'UPDATE'%>
      </button> -->
      <button type="submit" class="btn text-dark">
        <%= id==='add_user' ? 'SAVE' : 'UPDATE'%>
      </button>
    </div>
  </div>
</form>
